$background: #010118;
$main-font: "Zen Dots", Helvetica, sans-serif;
$arial: Arial, Helvetica, sans-serif;
$color: white;
$name-color: #efeeee;
$name-font: "Parisienne", cursive;
$button-color: gray;
$font-size: 1em;

* {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $background;
}

header {
    color: $color;
    font-size: 1em;
    font-family: $main-font;
    width: 100%;

    p {
        color: $name-color;
        font-family: $name-font;
    }

    a {
        transition: 0.25s ease-in;
    }

    a:hover {
        color: yellow;
    }
}

main {
    width: 100%;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: left;
    
    .large-pic {
        width: 100%;
        img {
            height: 150px;
            width: 150px;
            margin-top: 2em;
            margin-bottom: 2em;
            object-fit: cover;
            object-position: top;
            display: block;
            margin-left: auto;
        }
    }

    .small-pic {
        height: 75px;
        width: 75px;
        position: absolute;
        right: 0.5em;
        top:3.5em;
        margin-top: 2em;
        margin-bottom: 2em;
        object-fit: cover;
        object-position: top;
    }

    .email-pic {
        width: 100%;
        img {
            height: 200px;
            width: 200px;
            margin-top: 2em;
            margin-bottom: 2em;
            object-fit: cover;
            object-position: top;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: right;
    }


    .tight-margin {
        margin-top: 50px;
    }

    p {
        color: $color;
        font-size: $font-size;
        font-family: $arial;
        margin-bottom: 20px;
        width: 100%;
    }

    .contact {
        text-decoration: none;
        color: black;
        background: $button-color;
        width: 15em;
        height: 3em;
        line-height: 3em;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-family: $arial;
        transition: 0.25s ease-in;

        &:hover {
            background: yellow;
        }
    }

}

footer, h6 {
    color: $color;
    margin-top: 2em;
    font-size: $font-size;
    font-family: $arial;
    
}

h1 {
    color: $color;
    font-family: $main-font;
    font-size: 2em;
    width: 100%;
}

nav {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    a {
        color: $color;
    }
}


h3 {
    color: $color;
    font-family: $main-font;
    font-size: 2em;
    width: 100%;
    text-indent: 1.0em;
    margin: 0.5em;
    transition: 0.25s ease-in;

    &:hover {
        color: yellow;
    }
}

h2 {
    color: $color;
    font-family: $main-font;
    font-size: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.email-me {
    margin-top: 1em;
    width:10em;
    height: 2.5em;
    line-height: 2.5em;
    text-decoration: none;
    color: black;
    background: $button-color;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: $arial;
    transition: 0.25s ease-in;

    &:hover {
        background: yellow;
    }
}


.my-name {
    font-family: $name-font;
    font-size: 3em;
}

header, body, footer {

    padding-left: 1em;
    padding-right: 1em;
}
header {
    padding-top: 1em;
}
footer {
    padding-bottom: 1me;
}

@media screen and (min-width: 1200px) {
    header, body, footer {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    h6 {
        width: 30em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }


    .column-layout {
        flex-direction: row;
        flex-wrap: wrap;
        section {
            max-width: 50%;
            display: inline-block;
        }
    }
}